@mixin vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)
	
.app
	background: hsl(0, 0%, 100%)
	font-size: 1.5rem
	width: 100%
	height: 100%

.main
	z-index: -1
	padding: 10px

.container
	padding-top: 1em
	padding-bottom: 1em

.loading
	background: lightgrey
	width: 100%
	height: 100%
	text-align: center
	font-size: 150%

.loading-container
	@include vertical-align

.spinner
	margin-left: 45%

.CodeMirror
	height: 100%
	font-size: 1.25rem

.line-selected
	background: #465156

.userinput
	margin-left: 10%
	margin-right: 10%
	@include vertical-align

	.septxt
		text-align: center

	.ip
		margin-left: 20%
		margin-right: 20%

.userbutton
	padding-top: 10px
	text-align: center
	font-size: 1.5rem

.dmesg-list
	margin-left: 10%
	margin-right: 10%
	@include vertical-align
