.app
	background: hsl(0, 0%, 100%)
	font-size: 1.5rem

.main
	z-index: -1
	padding: 10px

.container
	padding-top: 1em
	padding-bottom: 1em

.loading
	position: fixed
	bottom: 0
	left: -10px
	width: 120%
	height: 120%
	opacity: 0.9
	background: lightgrey

.spinner
	position: fixed
	bottom: 0
	left: 45%
	height: 50%

.loading-text
	font-size: 150%

.CodeMirror
	height: 80%
	font-size: 1.25rem

.line-selected
	background: #465156

.userinput
	margin-top: 15%
	margin-left: 10%
	margin-right: 10%

.userbutton
	padding-top: 10px
	text-align: center
	font-size: 1.5rem

img.bg
  min-height: 100%
  min-width: 1024px
  width: 100%
  height: auto
  position: fixed
  top: 0
  left: 0
